appdirs==1.4.3
asn1crypto==0.24.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.1.4
dj-database-url==0.4.2
Django==1.7.8
enum34==1.1.6
gunicorn==19.7.1
html5lib==1.0b8
idna==2.6
ipaddress==1.0.19
mysql-python==1.2.5
oauthlib==2.0.6
olefile==0.44
packaging==16.8
Pillow==4.0.0
pisa==3.0.33
psycopg2==2.7.1
pycparser==2.18
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyparsing==2.2.0
PyPDF2==1.26.0
python-openid==2.2.5
python-social-auth==0.3.6
pytz==2018.3
reportlab==3.5.55
requests==2.18.4
requests-oauthlib==0.8.0
six==1.10.0
social-auth-core==1.7.0
urllib3==1.22
webencodings==0.5
whitenoise==3.3.0
xhtml2pdf==0.0.6
